.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
}

.form{
    padding:2em;
    border-right:2px solid grey
    
}

.createAccount{
  font-weight: bold;
  font-size:24px
}

.formArea{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5em;
 
}


.table{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 90%;
    
}

.textandIcon{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.eachField{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 1em;
}


.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:2px solid grey;
  margin-top: 2em;
}

.leftHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left:4em;
  margin-bottom: .5em;
}

.divider{
  width:1px;
  height:24px;
  background-color: grey;
  margin-right: 12px;
}

.tableContent{
  margin-left:4em;
  margin-top: 5em;
  width:90%
}

.contacts{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 6px;
}

.rightButton{

  display:flex;
  justify-content: flex-end;
  align-items:center;
  width:100%;
  margin-top: 10em;
}

